.submit-btn {
    background-color: #5474FD;
    width: 153px;
    height: 63px;
    color: white;
    font-size: 14px;
    border: none;
    font-family: "Josefin Sans", serif;
}
.submit-btn:hover {
    color: #5474FD;
    background-color: aliceblue;
}
