.submit-btn {
    color: blue;
    background-color: blue;
    width: 153px;
    height: 63px;
    color: white;
    font-size: 14px;
    border: none;
}
.submit-btn:hover {
    color: blue;
    background-color: aliceblue;
}
