@use '../scss/buttons';
@use '../scss/variables';
@use "~@fortawesome/fontawesome-free/scss/fontawesome";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Josefin Sans", serif;
    line-height: 1.6;
}

.hero-image {
    background-image: url("/images/Background.png");
    background-size: cover;
    background-position: center;
    height: 840px; 
    
    .hero-container {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        margin-bottom: 0;
   
        
        .hero-text {
            margin-top: 0px;
            width: 372px;
            height: 67px;
            font-family: "Josefin Sans", serif;
            
        .hero-heading {
            font-size: 48px;
            font-family: "Josefin Sans", serif;
            font-weight: bold;
            color: white;
            margin-bottom: 0;
        }
        .hero-text-paragraph {
            font-size: 22px;
            color: white;
            font-family: "Josefin Sans", serif;
        }
    }

}   
}
.form-container {
    width:653px;
    height: 63px;
    margin-top: 40px;
    display: flex;
    margin-top: 80px;
    
    input {
        width: 500px;
        height: 63px;

        &::placeholder {
            text-align: center;
            font-family: "Josefin Sans", serif;
        }
    }
  
        
        .glas-top {
            margin-left: 10px;
        }
        }

.navbar {
    background-color: #5474FD;
    width: 100%;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    font-family: "Josefin Sans", serif;
    
   

   a.navbar-a {
        font-size: 23px;
        text-decoration: none;
        color: white;
       
        margin-left: 20px;
        margin-right: 20px;
    }
    a.navbar-a-logo {
      
        margin-right: auto;
        gap: 40px;
        font-size: 26px;
    }
}
// choose section
.choose-image {
    background-image: url("/images/background-2.png");
    background-size: cover;
    background-position: center;
    height: 840px; 
    width: 100%;
}

.choose-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    gap: 20px; 
    font-family: "Josefin Sans", serif;
    width: 100vw;
    padding: 0 20px;
    margin-top: 0;

    .choose-container-text {
        max-width: 50%; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 560px;
        height: 158px;
        margin-left: 30px;
        margin-bottom: 60px;
         padding: 0 0;
        margin-top: 0;
        
        
        
        h3 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 10px;
            color:#E8E8E8;
            
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 1.6;
            color:#E8E8E8;
            font-family: "Josefin Sans", serif;
        
            
        }
    }

    .choose-container-images {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        gap: 50px;
        width: 350px;
        height: 220px;
       
        

        
        .choose-images1 {
            position: relative;
            right: 100px;
            top: 20px;

        }
        .choose-images2 {
            position: relative;
            right: 50px;
            top: 10px;
        }
    }

}


.container-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 100vw;
    background-color: #333333;
    gap: 150px;
    position: relative;
    width: 100%;

    .icon-div {
        height: 161px;
        width: 200px;
        font-size: 99px;
        text-align: center;
        flex-direction: column;
        margin-top: 80px;
        z-index: 10;
        

    }
    .glas, .check, .thumbs {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 36px;
        color: #E8E8E8;
        
    
    }
    .icon-div-glas {
        color:#5474FD;
    }
    .icon-div-check {
        color: #FF6363;
    }
    .icon-div-thumbs {
        color: #00A2FF;
    }

    .round {
        position: absolute;
        left: 50%;
        top: 20%;
        z-index: 0;
        transform: translate(-50%, -50%);
        height: 80px;
    }
}

// house section

.house-image {
    background-image: url('/images/house1.png');
    background-size: cover;
    background-position: center;
    height: 700px; 
    width: 100%;
    position: relative;
}

.spain-container {
    width: 543px;
    height: 374px;
    background-color: rgba(35, 35, 35, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;
    font-family: "Josefin Sans", serif;
    
    

    p {
        color: #E8E8E8;
    }
    h4 {
        color: #E8E8E8;
    }
    
}
.spain-1 {
    position: absolute;
    top: 80px;
    left: 100px;
}
.spain-2 {
    position: absolute;
    bottom: 80px;
    right: 80px;
}

// sunset section

.sunset-container {
    position: relative;
}
.sunset-image {
    background-image: url('/images/sunset.png');
    background-size: cover;
    background-position: center;
    height: 700px; 
    width: 100%;
}


// sam section 
.sam-image {
    background-image: url('/images/sam-background.png');
    background-size: cover;
    background-position: center;
    height: 700px; 
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.sam-image-small {
    width: 445px;
    height: 284px;
    width: 100%;

}
.sam-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
.sam-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    max-width: 90vw;
}

.sam-container-text {
    display: flex; 
    width: 668px;
    height: 287px;
    flex-direction: column;
    background-color: rgba(35, 35, 35, 1);
    margin: 10px 0 10px 0;
    justify-content: center;
    gap: 20px;

    p {
        font-size: 12px;
        color:#E8E8E8;
        margin-left: 20px;
        margin-right: 20px;
        line-height: 1;
        .quote {
            font-size: 20px;
            color: #5474FD;
            margin-right: 10px;;
        }

    }
    h3 {
        font-size: 16px;
        color:#E8E8E8;
        margin-left: 20px;
        margin-right: 20px;

    }
}
}
.sam-heading {
    text-align: center;
    color:#E8E8E8;
    font-size: 30px;
    
}


.footer-container {
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #232323;
    max-width: 100%;
    height: 271px;
        h3 {
            color:white; 
            font-size: 24px;
           
        }
        p {
            color: white; 
            font-size: 16px;
           
            line-height: 1.6;
        }

        .footer-icons{
            display: flex;
            gap: 20px;
            font-size: 16px;
            color: white;
            a {
                color: white;
            }
        }
}

// media 
@media (max-width: 768px) {
    .hero-image {
        height: 600px;  
    }

    .hero-container {
        top: 40%;
    }

    .hero-text {
        width: 90%; 
        .hero-heading {
            font-size: 36px;  
        }
        .hero-text-paragraph {
            font-size: 18px; 
        }
    }


    .form-container {
        width: 100%;
        margin-top: 20px;  
        display: block;  

        input {
            width: 100%;  
            height: 50px;  
            font-size: 16px;  
        }
    }
}

@media (max-width: 480px) {
   
    .hero-image {
        height: 500px;  
    }

    .hero-container {
        top: 50%;  

    .hero-text {
        width: 90%; 
        .hero-heading {
            font-size: 28px;  
        }
        .hero-text-paragraph {
            font-size: 16px;  
        }
    }

}
    .form-container {
        width: 100%;
        margin-top: 15px;
        display: block;

        input {
            width: 90%;
            height: 25px;  
            font-size: 14px;  
            margin-bottom: 10%;
        }
    }
}
// icons
@media (max-width: 768px) {
    .container-icons {
        flex-direction: column;
        align-items: center;
        gap: 50px;
        height: auto;
    }
    .icon-div {
        height: auto;
        font-size: 60px;
        text-align: center;
    }
}
// nav
@media (max-width: 768px) {
    .navbar {
        flex-direction: column;
        gap: 0px;
    }
    .navbar a.navbar-a {
        font-size: 12px;
    }
}
// houses
@media (max-width: 768px) {
    .house-image {
        height: 50vh;
    }
    .spain-container {
        width: 60%;
        margin-left: 10%;
    }
}

@media (max-width: 480px) {
    .house-image {
        height: 70vh;
    }
    .spain-container {
        width: 50%;
        margin-left: 0;
    }
}

// sam
/* SAM SECTION */
.sam-image {
    background-image: url('/images/sam-background.png');
    background-size: cover;
    background-position: center;
    height: 700px; 
    width: 100%;
    justify-content: space-around;
    align-items: center;
    display: flex;
}

@media (max-width: 768px) {
    .sam-image {
        height: 100%;
    }
    .sam-container {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
  
    .sam-container-text p {
        font-size: 16px;
    }
}

@media (max-width: 480px) {
    .sam-image {
        height: 400px;
    }
    .sam-container {
        padding: 10px;
        display: flex;
        flex-direction: column;
    }
    .sam-container-text {
        text-align: center;
        padding: 10px;
    }
    .sam-heading {
        font-size: 20px;
    }
    .sam-container-text h3 {
        font-size: 18px;
    }
    .sam-container-text p {
        font-size: 12px;
    }
   
}
//choose

@media (max-width: 768px) {
    .choose-container-images {
        gap: 10px;
    }

    .choose-images1,
    .choose-images2 {
        max-width: 200px;
        margin-left: 60px;
        margin-top: 40px;
    }
}

@media (max-width: 480px) {
    .choose-container-images {
        gap: 8px;
    }

    .choose-images1,
    .choose-images2 {
        max-width: 150px;
    }
    .choose-container {
        margin-bottom: 0;
        display: flex;
        padding-top: 0;
        align-items: flex-start;

    }
}
