@use '../scss/buttons';
@use '../scss/variables';


.hero-image {
    background-image: url("/images/Background.png");
    background-size: cover;
    background-position: center;
    height: 840px; 
    
    .hero-container {
        position: absolute;
        left: 50%;
        top: 30%;
        transform: translate(-50%, -50%);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        height: auto;
        margin-bottom: 0;
   
        
        .hero-text {
            margin-top: 0px;
            width: 372px;
            height: 67px;
            
        .hero-heading {
            font-size: 48px;
            
            font-weight: bold;
            color: white;
            margin-bottom: 0;
        }
        .hero-text-paragraph {
            font-size: 22px;
            color: white;
        }
    }

}   
}
.form-container {
    width:653px;
    height: 63px;
    margin-top: 40px;
    display: flex;
    margin-top: 80px;
    
    input {
        width: 500px;
        height: 63px;

        &::placeholder {
            text-align: center;
       
        }
    }
  
        
        .glas-top {
            margin-left: 10px;
        }
        }

.navbar {
    background-color: blue;
    width: 100%;
    height: 83px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    
    
   

   a.navbar-a {
        font-size: 23px;
        text-decoration: none;
        color: white;
       
        margin-left: 20px;
        margin-right: 20px;
    }
    a.navbar-a-logo {
      
        margin-right: auto;
        gap: 40px;
        font-size: 26px;
    }
}
// choose section
.choose-image {
    background-image: url("/images/background-2.png");
    background-size: cover;
    background-position: center;
    height: 840px; 
    width: 100%;
}

.choose-container {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center; 
    gap: 20px; 
    
    width: 100vw;

    .choose-container-text {
        max-width: 50%; 
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 560px;
        height: 158px;
        margin-left: 30px;
        margin-bottom: 60px;
        
        
        
        h3 {
            font-size: 36px;
            font-weight: bold;
            margin-bottom: 10px;
            color:#E8E8E8;
            
        }

        p {
            font-size: 16px;
            margin-bottom: 10px;
            line-height: 1.6;
            color:#E8E8E8;
           
        
            
        }
    }

    .choose-container-images {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 50px;
        width: 350px;
        height: 220px;

        
        .choose-images1 {
            position: relative;
            right: 100px;
            top: 20px;

        }
        .choose-images2 {
            position: relative;
            right: 50px;
            top: 10px;
        }
    }

}


.container-icons {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 340px;
    width: 100vw;
    background-color: #333333;
    gap: 150px;
    position: relative;

    .icon-div {
        height: 161px;
        width: 200px;
        font-size: 99px;
        text-align: center;
        flex-direction: column;
        margin-top: 80px;
        z-index: 10;
      

    }
    .glas, .check, .thumbs {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 36px;
        color: #E8E8E8;
        
    
    }
    .icon-div-glas {
        color:#5474FD;
    }
    .icon-div-check {
        color: #FF6363;
    }
    .icon-div-thumbs {
        color: #00A2FF;
    }

    .round {
        position: absolute;
        left: 50%;
        top: 20%;
        z-index: 0;
        transform: translate(-50%, -50%);
        height: 80px;
    }
}

// house section

.house-image {
    background-image: url('/images/house1.png');
    background-size: cover;
    background-position: center;
    height: 700px; 
    width: 100%;
    position: relative;
}

.spain-container {
    width: 543px;
    height: 374px;
    background-color: rgba(35, 35, 35, 0.8);
    display: flex;
    flex-direction: column;
    padding: 20px;
    justify-content: center;
    align-items: flex-start;

    

    p {
        color: #E8E8E8;
    }
    h4 {
        color: #E8E8E8;
    }
    
}
.spain-1 {
    position: absolute;
    top: 80px;
    left: 100px;
}
.spain-2 {
    position: absolute;
    bottom: 80px;
    right: 80px;
}

// sunset section

.sunset-container {
    position: relative;
}
.sunset-image {
    background-image: url('/images/sunset.png');
    background-size: cover;
    background-position: center;
    height: 700px; 
    width: 100%;
}


// sam section 
.sam-image {
    background-image: url('/images/sam-background.png');
    background-size: cover;
    background-position: center;
    height: 700px; 
    width: 100%;
    justify-content: space-around;
    align-items: center;
}
.sam-image-small {
    width: 445px;
    height: 284px;

}
.sam-container {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
.sam-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sam-container-text {
    display: flex; 
    width: 668px;
    height: 287px;
    flex-direction: column;
    background-color: rgba(35, 35, 35, 1);
    margin: 10px 0 10px 0;
    justify-content: center;
    gap: 20px;

    p {
        font-size: 16px;
        color:#E8E8E8;
        margin-left: 20px;
        margin-right: 20px;
        .quote {
            font-size: 40px;
          
            margin-right: 10px;;
        }

    }
    h3 {
        font-size: 26px;
        color:#E8E8E8;
        margin-left: 20px;
        margin-right: 20px;

    }
}
}
.sam-heading {
    text-align: center;
    
}